streamlit
transformers
torch
sentencepiece
accelerate
datasets
torchaudio  
scipy
langdetect
pytube
whisper
fastapi
uvicorn
sentence-transformers
python-multipart
soundfile
torchvision
tiktoken
streamlit-chat 
langchain_community
beautifulsoup4
itranslate
google-api-python-client
youtube-transcript-api
streamlit-pills
docarray
scikit-learn 
jsonlines
pandas 
pandasql
faster-whisper
yt-dlp